body{
    background-image: url('pexels-asad-photo-maldives-1024984.jpg');
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    background-repeat: no-repeat;
    text-align: left;
    margin-top: 90px;
    padding-left: 60px;
}

p{
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Crimson Pro', serif;
}

*{
    margin: 0;
    padding: 0;
}